.accomodation-card-container {
  width: 300px;
  height: 400px;
  border: 1px solid rgba(206, 211, 216, 1);
  border-radius: 24px;
  overflow: hidden;
}

.accomodation-card-container > * {
  height: 50%;
}

.accomodation-numbers {
  color: white;
  background-color: rgba(58, 82, 149, 1);
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bed-and-bath {
  display: flex;
  align-items: center;
  gap: 15px;
}

.bed-and-bath > * {
  display: flex;
  align-items: center;
  gap: 5px;
}

.accomodation-card-bottom {
  display: flex;
  flex-direction: column;
}

.accomodation-facts {
  padding: 15px;
}

.property-type-furnished {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.accomodation-address,
.accomodation-address span {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
}

.accomodation-card-container a {
  border-top: 1px solid rgba(206, 211, 216, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-grow: 1;
}

.accomodation-card-container a:hover
{
  opacity: 0.85;
}

/* @media (max-width: 750px) {
  .accomodation-card-container {
    width: 100%;
  }
} */


