.shortlist-container {
  padding: 40px;
}
.shortlist-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.shortlisted-accomodations {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 10px;
}

.default-link {
  text-decoration: underline;
}

.default-link:hover {
  color: var(--blue-bg);
}


@media (max-width: 460px) {
  .shortlist-container {
    padding-inline: 10px;
  }
}