.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-form {
  display: flex;
  gap: 30px;
  font-size: 1rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  gap: 20px;
}

.form-section > * {
  font-size: 1rem;
}

.modal-header + p {
  margin-block: 20px 40px;
}

.form-section label {
  font-weight: 500;
}

.form-section textarea {
  flex-grow: 1;
}


@media (max-width: 800px) {
  .modal-form {
    flex-direction: column;
  }
}