.footer-container {
  background-color: black;
  color: #f0f0f0;
  min-height: 100px;
  padding-inline: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 800px) {
  .footer-container {
    padding: 25px;
  }
  .footer-links {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 550px) {
  .footer-container {
    padding-inline: 15px;
  }
}