* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Epilogue', sans-serif;
}

body {
  max-width: 1500px;
  margin-inline: auto;
}

:root {
  --blue-bg: #00A2E1;
}

a {
  all: unset;
  cursor: pointer;
}

ul {
  list-style: none;
}