.filters {
  width: 90%;
  padding: 20px 30px;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 12px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.accomodations-grid-container {
  position: relative;
  padding-top: 70px;
  padding-inline: 40px;
}

.accomodations-grid-container h2 {
  text-align: center;
  margin-block: 30px;
}

.accomodations-grid {
  margin-inline: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  gap: 20px;
  position: relative
}

/* .accomodations-grid::after {
  content: "";
  flex: auto;
} */

.city-data {
  background-color: rgba(246, 250, 253, 1);
  border-radius: 24px;
  margin: 50px 40px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.city-data img,
.city-description {
  width: 50%;
  max-height: 100%;
}

.city-description h3 + p {
  margin-block: 20px;
}

@media (max-width: 1050px) {
  .filters {
    grid-template-columns: repeat(2, 1fr);
  }
  .filters label {
    display: none;
  }
}

@media (max-width: 870px) {
  .accomodations-grid-container {
    padding-inline: 25px;
  }
  .filter select {
    font-size: 0.9rem;
  }
  .city-data{
    flex-direction: column;
    margin-inline: 25px;
  }

  .city-description {
    width: 100%;
  }

  .city-data img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .accomodations-grid-container {
    padding-top: 130px;
    padding-inline: 10px;
  }
  .filters {
    grid-template-columns: 1fr;
  }
  .city-data {
    margin-inline: 10px;
  }
}
