.accomodations-container h2 {
  text-align: center;
  margin-block: 30px;
}

.accomodations-grid {
  margin-inline: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.city-data {
  background-color: rgba(246, 250, 253, 1);
  border-radius: 24px;
  margin: 50px 40px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.city-data img,
.city-description {
  width: 50%;
  max-height: 100%;
}

.city-description h3 + p {
  margin-block: 20px;
}

@media (max-width: 870px) {
  .city-data{
    flex-direction: column;
    margin-inline: 25px;
  }

  .city-description {
    width: 100%;
  }

  .city-data img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .city-data {
    margin-inline: 10px;
  }
}